#chartdiv {
  position: absolute;
  width: 100%;
  height: 100%;
}

.chartwrapper {
  width: 70%;
  position: absolute;
  padding-bottom: 65%;
  box-sizing: border-box;
}

#toggle-button {
  position: absolute;
  left: 85%;
  top: 15px;
}

.absolute {
  position: absolute;
}

.center-card {
  margin: 0 auto;
  float: none;
  margin-bottom: 10px;
}

#news-card {
  display: none;
  margin-top: 5rem;
}

#stat-card {
  margin-top: 5rem;
}

#map-panel {
  opacity: 0.5;
  pointer-events: none;
}

.grey {
  color: grey;
}

.blue {
  color: blue;
}

.purple {
  color: rgb(204, 26, 180);
}

.db-attr {
  height: 150px;
}

/* For timeline infographic */

#timeline {
  width: 80%;
  margin: 20px auto;
  position: relative;
}

#timeline article {
  width: 100%;
  margin: 0 0 20px 0;
  position: relative;
  left: 35%;
}

.vl {
  border-left: 6px solid black;
  height: 97%;
  position: absolute;
  left: 50%;
  margin-left: -3px;
  top: 0;
}

#timeline article:after {
  content: '';
  display: block;
  clear: both;
}
#timeline article div.inner {
  /* width: 40%; */
  float: left;
  margin: 5px 0 0 0;
  border-radius: 6px;
  margin-bottom: 100px;

}
#timeline article div.inner span.date {
  display: block;
  position: absolute;
  top: 0;
  width: 80px;
  height: 80px;
  cursor: pointer;
  /* left: 50%; */
  /* margin: 0 0 0 -32px; */
  border-radius: 50%;
  font-size: 12px;
  font-weight: 900;
  text-transform: uppercase;
  /* color: black; */
  border: 10px solid;
  box-shadow: 0 0 0 0px black;
  background-color: white;
}
#timeline article div.inner span.date span {
  display: block;
  text-align: center;
}

#timeline article div.inner span.date span.year {
  font-size: 18px;
}

#timeline article:nth-child(2n+2) div.inner {
  float: right;
}
#timeline article:nth-child(2n+2) div.inner h2:after {
  left: -5px;
}

.fixed-timeline {
  display:block;
  width:100%;
  height:100%;
  overflow:scroll;
  text-align: center;
}

::-webkit-scrollbar {
  width: 0px;
  background: transparent; /* make scrollbar transparent */
}

.selected{
  color:orange;
  border-color: orange;
}
